.App {
  --main-font-size: calc(10px + 2vmin);
  --color-blue-common: #61dafb;
  --color-blue-darker: #4286a2;
  --color-blue-darkest: #306d89;
  --color-navy-common: #282c34;

  min-height: 100vh;
  text-align: center;
  background-color: var(--color-navy-common);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: var(--main-font-size);
  color: white;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  border: none;
  border-radius: 10px;
  color: antiquewhite;
  background-color: var(--color-blue-darkest);
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
